.full-single-spot-page {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-spot-images-container {
    display: flex;
    width: 80%;
    justify-content: center;
    padding: 1em;
}

.single-spot-image {
    display: block;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: .5em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
    margin: .5%;
}

.spot-name {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0 0 3px 0;
}

.info-under-spot-name {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    font-size: 14px;
    font-weight: bold;
}

.hosted-by {
    display: flex;
    width: 70%;
    padding: 2% 1%;
    border-bottom: 1px solid lightgrey;
    flex-direction: column;
}

.description {
    display: flex;
    width: 90%;
    padding: 4% 0;
    border-bottom: 1px solid lightgrey;
}

.basic-place-information {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    padding: 4% 0;
    border-bottom: 1px solid lightgrey;
}

.average-rating {
    display: flex;
    margin-right: .5rem;
}

.rating-info {
    display: flex;
}

.price {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    padding: 4% 0;
    font-size: 15px;
    border-bottom: 1px solid lightgrey;
}

.spot-owner-options {
    display: flex;
    margin: 5%;
}

.spot-owner-options>button {
    margin: 5%;
    border: 1px solid grey;
    border-radius: 3px;
}

.information {
    width: 70%;
}

.info-and-bookings {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
}

.review-section {
    width: 80%;
    border-top: 1px solid lightgray;
}

.top-part-of-information {
    display: flex;
}

.host-image {
    width: 20%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.self-checkin {
    display: flex;
    margin: 10px 0;
}

.barecover {
    display: flex;
    flex-direction: column;
}

.barecover-logo {
    font-size: 30px;
    font-weight: bolder;
    color: grey;
}

.barecover-info {
    font-size: 14px;
}

.all-beds {
    display: flex;
    width: 80%;
    gap: 5%;
}

.beds{
    border: 1px solid lightgrey;
    width: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: 200px;
    max-width: 250px;
}

.bed-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bold {
    font-weight: bold;
    font-size: 17px;
}

.basic-text {
    font-size: 16px;
}

.beds > div {
    margin: 2% 0;
}

.icon-size {
    font-size: 20px;
}
