.full-single-spot-page {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-spot-images-container {
    display: flex;
    width: 80%;
    justify-content: center;
    padding: 1em;
}

.single-spot-image {
    display: block;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: .5em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
    margin: .5%;
}

.spot-name {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0 0 1% 0;
}

.info-under-spot-name {
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.hosted-by {
    display: flex;
    width: 90%;
    padding: 2% 1%;
    border-bottom: 1px solid lightgrey;
}

.description {
    display: flex;
    width: 90%;
    padding: 2% 1%;
    border-bottom: 1px solid lightgrey;
}

.full-address {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    padding: 2% 1%;
    border-bottom: 1px solid lightgrey;
}

.average-rating {
    display: flex;
    margin-right: .5rem;
}

.rating-info {
    display: flex;
}

.price {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    padding: 2% 1%;
}

.spot-owner-options {
    display: flex;
    margin: 5%;
}

.spot-owner-options>button {
    margin: 5%;
    border: 1px solid grey;
    border-radius: 3px;
}

.information {
    width: 70%;
}

.info-and-bookings {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
}

.review-section {
    width: 80%;
    border-top: 1px solid lightgray;
}
