/* TODO Add site wide styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, .8);
}

body {
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: white;
}

button:hover {
    background-color: whitesmoke;
}

input {
    border: 1px solid grey;
    width: 15rem;
}

textarea {
    resize: none;
}

body::-webkit-scrollbar {
    width: .8em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    border-radius: .4em 0 0 .4em;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(197, 197, 197);
    outline: 1px solid darkgrey;
    border-radius: 4em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}
