/* TODO Add site wide styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, .8);
}

body {
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input {
    border: 1px solid grey;
    width: 15rem;
}
