.create-spot-button {
  border: none;
  outline: none;
  margin-right: 1em;
  cursor: pointer;
  background-color: white;
}

.create-spot-button:hover {
  background-color: white;
  text-shadow: 0 1px 2px lightgrey;
}

.inputSpot {
  border: 2px solid grey;
  width: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  justify-content: space-between;
  height: 30em auto;
}

.inputSpot>form>input {
  margin: 2px;
}

.inputSpot>form>textarea {
  margin: 2px;
  height: 5em;
}

.spot-input-submit-button {
  margin-top: 3%;
  border: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 30px;
}
