.all-spots-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    object-position: 50% 50%;
    padding: auto;
}

.all-spots-preview-image {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: .5em 0;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
    margin-bottom: 2%;
}

.all-spots-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    flex-shrink: 0;
    padding-left: auto;
    padding-right: auto;
    object-fit: contain;
}

.all-spots-card {
    margin: 1%;
    padding: 2%;
    flex-shrink: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
}

.all-spots-card > p {
    font-size: .2rem;
}

.top-part-info {
    display: flex;
    justify-content: space-between;
}

.rating{
    display: flex;
}
