.all-spots-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    object-position: 50% 50%;
    padding: auto;

}

.all-spots-preview-image {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    object-fit: cover;
}

.all-spots-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    flex-shrink: 0;
    padding-left: auto;
    padding-right: auto;
    object-fit: contain;
}

.all-spots-card {
    /* border: 1px solid black; */
    margin: 1%;
    border-radius: .3rem;
    padding: 2%;
    flex-shrink: 0;
    padding: 0;
}

.all-spots-card > p {
    font-size: .2rem;
}
