.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    padding-bottom: .2em;
    border-bottom: .01em solid black;
    box-shadow: 0 .05rem .2rem white;
    background-image: linear-gradient(black, grey,lightgrey,grey, black);
    margin: 0;
    color: white;
    margin: 0 0 1rem 0;
    padding: .5rem;
}

.brand-name {
    font-size: 1.5rem;
    margin: .5rem;
    background-color: transparent;
}

.navbar-links li {
    display: inline-flex;
    justify-content: space-between;
    background-color: transparent;
}

.navbar-links a {
    margin: 0 .3rem;
    background-color: transparent;
}
