.navbar {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .05rem .2rem black;
    margin: 0;
    padding: .5rem 3vw;
    top: 0;
}

.brand-name {
    font-size: 1.5rem;
    margin: .5rem;
    background-color: transparent;
    color: rgb(255,56,92);
}

.navbar-links li {
    display: inline-flex;
    justify-content: space-between;
    background-color: transparent;
}

.navbar-links a {
    margin: 0 .3rem;
    background-color: transparent;
}

.right-side-user-menu {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    margin: 5px;

}
.navbar-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.profile-buttons-right {
    display: flex;
    width: 3rem;
    justify-content: space-between;
    padding: .1em .5em;
    border-radius: 20px;
    margin-top: .3em;
    border: 1px solid grey;
}

.profile-dropdown {
    position: absolute;
    float: left;
    border: 1px solid grey;
    padding: 1rem;
    right: 5%;
    display: flex;
    flex-direction: column;
    width: 20rem;
    border-radius: 1rem 0;
}

.dropdown-menu {
    position: relative;
    float: left;
    margin-right: 7rem;
}

.login-button {
    display: flex;
    justify-content: flex-end;
}
